.root {
  display: block;
  margin: auto;
  max-width: 570px;
  border: 1px solid #bababa;
  padding: 15px;
}

.results {
  height: 25px;
  padding-bottom: 15px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

